[tool.poetry]
name = "spapros"
version = "0.1.0"  # <<COOKIETEMPLE_FORCE_BUMP>>
description = "Fully automated spatial transcriptomics probe selection."
authors = ["Lukas Heumos <lukas.heumos@posteo.net>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/theislab/spapros"
repository = "https://github.com/theislab/spapros"
documentation = "https://spapros.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]


[tool.poetry.dependencies]
python = "^3.7.1"
click = "^7.1.2"
rich = "^9.13.0"
PyYAML = "^5.4.1"
Jinja2 = "^2.11.3"
numpy = "^1.20.1"
pandas = "^1.2.3"
scanpy = "^1.7.1"
seaborn = "^0.11.1"
matplotlib = "^3.3.4"
leidenalg = "^0.8.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
coverage = {extras = ["toml"], version = "^5.3"}
safety = "^1.9.0"
mypy = "^0.812"
typeguard = "^2.11.1"
xdoctest = {extras = ["colors"], version = "^0.15.0"}
sphinx = "^3.5.2"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.11.1"
flake8 = "^3.9.0"
black = "^20.8b1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.3.2"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.0.14"
pep8-naming = "^0.11.1"
darglint = "^1.7.0"
reorder-python-imports = "^2.4.0"
pre-commit-hooks = "^3.3.0"
sphinx-rtd-theme = "^0.5.0"
Pygments = "^2.8.0"
sphinx-click = "^2.6.0"

[tool.poetry.scripts]
spapros = "spapros.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["spapros"]

[tool.coverage.report]
show_missing = true

[tool.black]
line-length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
