alabaster==0.7.13
anndata==0.8.0
appnope==0.1.3
argcomplete==2.1.2
attrs==23.1.0
babel==2.12.1
backcall==0.2.0
bandit==1.7.2
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
colorlog==6.7.0
comm==0.1.4
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
docutils==0.16
entrypoints==0.4
fastjsonschema==2.18.0
filelock==3.12.2
fonttools==4.38.0
gitdb==4.0.10
gitpython==3.1.32
h5py==3.8.0
idna==3.4
igraph==0.9.11
imagesize==1.4.1
importlib-metadata==4.13.0
importlib-resources==5.12.0
ipython==7.18.1
ipywidgets==8.1.0
jedi==0.19.0
jinja2==3.1.2
joblib==1.3.2
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-core==4.12.0
jupyter-sphinx==0.3.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
kiwisolver==1.4.5
leidenalg==0.8.10
llvmlite==0.39.1
lxml==4.9.3
markdown-it-py==2.2.0
markupsafe==2.1.3
matplotlib==3.5.3
mdurl==0.1.2
mistune==0.8.4
natsort==8.4.0
nbclient==0.7.4
nbconvert==6.5.4
nbformat==5.8.0
nest-asyncio==1.5.7
networkx==2.6.3
nox-poetry==0.9.0
nox==2022.11.21
numba==0.56.4
numpy==1.21.6
packaging==23.1
pandas==1.3.5
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
pkgutil-resolve-name==1.3.10
platformdirs==3.10.0
plumbum==1.8.2
ply==3.11
prompt-toolkit==3.0.39
ptyprocess==0.7.0
py==1.11.0
pycparser==2.21
pygments==2.16.1
pynndescent==0.5.10
pyparsing==3.1.1
pypi-latest==0.1.2
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
pyyaml==5.4.1
pyzmq==24.0.1
questionary==1.10.0
requests==2.31.0
rich==13.5.2
ruamel-yaml-clib==0.2.7
ruamel-yaml==0.17.32
scanpy==1.9.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
session-info==1.0.0
setuptools==68.0.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.4.1
sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.5
stdlib-list==0.9.0
stevedore==3.5.2
texttable==1.6.7
threadpoolctl==3.1.0
tinycss2==1.2.1
tomlkit==0.7.2
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
typing-extensions==4.7.1
umap-learn==0.5.3
upsetplot==0.6.1
urllib3==2.0.4
venndata==0.1.0
virtualenv==20.21.1
wcwidth==0.2.6
webencodings==0.5.1
widgetsnbextension==4.0.8
xgboost==1.6.2
zipp==3.15.0