name: Publish spapros to PyPI

on:
    release:
        types: [created]

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repository
              uses: actions/checkout@v3.0.2
              with:
                  fetch-depth: 2

            - name: Set up Python
              uses: actions/setup-python@v2.3.1
              with:
                  python-version: "3.9"

            - name: Upgrade pip
              run: |
                  pip install --constraint=.github/workflows/constraints.txt pip
                  pip --version

            - name: Install Poetry
              run: |
                  pip install --constraint=.github/workflows/constraints.txt poetry
                  poetry --version

            - name: Build package
              run: |
                  poetry build --ansi

            - name: Publish package on PyPI
              uses: pypa/gh-action-pypi-publish@v1.4.2
              with:
                  # TODO COOKIETEMPLE: Configure your PyPI Token to enable automatic deployment to PyPi on releases
                  # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets
                  user: __token__
                  password: ${{ secrets.PYPI_TOKEN }}

            - name: Publish the release notes
              uses: release-drafter/release-drafter@v5.15.0
              with:
                  publish: ${{ steps.check-version.outputs.tag != '' }}
                  tag: ${{ steps.check-version.outputs.tag }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
