name: cookietemple lint

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3.0.2
              name: Check out source-code repository

            - name: Setup Python
              uses: actions/setup-python@v4.3.0
              with:
                  python-version: 3.9

            - name: Install cookietemple
              run: pip install cookietemple==1.3.2

            - name: Run cookietemple lint
              run: cookietemple lint . --skip-external
